$gap: 20px;
$card-width: 400px;
$card-height: 530px;
$text-color: #363636;
$font-main: Montserrat;

@mixin responsive-grid($columns) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  margin: 0 auto;
  padding: $gap;
}

.header {
  padding: $gap;
}

.articles-container {
  @include responsive-grid(3);

  @media (max-width: 1024px) {
    @include responsive-grid(2);
  }

  @media (max-width: 600px) {
    @include responsive-grid(1);
  }
}

.article-card {
  width: $card-width;
  height: $card-height;
  border-radius: 5px;
  background-color: white;

  img {
    max-height: 217px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  p {
    color: $text-color;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
}

.card-title {
  color: $text-color;
  font-family: $font-main;
  font-size: 24px;
  font-weight: 400;
}

.card-content {
  color: $text-color;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-top: $gap;
}

.read-more-button {
  margin-top: $gap;
  background-color: white;
  border: white;
  cursor: pointer;
}

.card-bottom {
  padding: $gap;
}

.custom-input {
  width: 600px;

  .mat-mdc-text-field-wrapper {
    background: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .mat-mdc-form-field-outline {
    display: none;
  }
}

.no-articles-message {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  color: $text-color;
}
